<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ida:ClientId" value="[Azure AD App Registration for admins]" />
    <add key="ida:ClientSecret" value="[Secret Key for App Registration]" />
    <add key="ida:TenantId" value="[Tenant name of Azure AD App]" />

    <add key="StorageConnectionString" value="UseDevelopmentStorage=true"/>
    <add key="LabQueueName" value="labqueue"/>

    <add key="LinkAdminClientId" value="[Azure AD App Registration for participants]" />
    <add key="LinkAdminSecret" value="[Secret Key for App Registration]" />

    <add key="DocDBUri" value="[DocDB URI]" />
    <add key="DocDBAuthKey" value="[DocDB Auth Key]" />
    <add key="DocDBName" value="Labs" />
    <add key="DocDBCollection" value="LabItems" />
    <add key="DocDBRegions" value="[Comma-separated list of regions where you run CosmosDB]" />
    <add key="WebJobDebugWait" value="0" />
  </appSettings>
</configuration>
