@model IEnumerable<SelectListItem>
@{
    ViewBag.Title = "Lab Admin";
}

<div class="panel panel-primary" style="margin-top:10px;position:relative;">
    <div class="panel-heading">
        <button id="btnAddLab" type="button" class="btn btn-xs btn-default control pull-right"><span class="glyphicon glyphicon-plus"></span> New...</button>
        @ViewBag.Title
    </div>
    <div class="panel-body">
        <div class="col-sm-3">
            <div class="scrollWrap">
                <ul id="labList" class="nav nav-pills nav-stacked"></ul>
            </div>
        </div>
        <div id="labDetailsInfo" class="col-sm-9 details">
            Select a lab from the left to view details.
        </div>
        <div id="labDetails" class="col-sm-9 details" style="display:none">
            <div class="form-group control">
                <div class="col-sm-12">
                    <button id="btnEditLab" class="btn btn-warning control"><span class="glyphicon glyphicon-cog"></span> Edit...</button>
                    <button id="btnReport" class="btn btn-info control"><span class="glyphicon glyphicon-blackboard"></span> Print Report...</button>
                    <button id="btnLabRefresh" class="btn btn-info control"><span class="glyphicon glyphicon-check"></span> Refresh</button>
                    <button id="btnResetAllDomains" class="btn btn-danger control"><span class="glyphicon glyphicon-check"></span> Domain Reset</button>
                    <button id="btnClose" class="btn btn-info control"><span class="glyphicon glyphicon-check"></span> Close</button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 lbl">
                    <div class="lbl">Instructor</div>
                    <div class="lbl">Date</div>
                    <div class="lbl">City</div>
                    <div class="lbl">Lab Code</div>
                    <div class="lbl">Domain Resource Group</div>
                    <div class="lbl">Estimated Attendees</div>
                    <div class="lbl">Lab State</div>
                    <div class="lbl">Additional Instructors</div>
                </div>
                <div class="col-sm-8">
                    <div id="labInstructor"></div>
                    <div id="labLabDate"></div>
                    <div id="labCity"></div>
                    <div id="labLabCode"></div>
                    <div id="labDomGroup"></div>
                    <div id="labEstimatedAttendees"></div>
                    <div id="labState"></div>
                    <div class="wordwrap" id="labInstructors"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12" style="margin-top:8px;">
                    <label>Team List</label>
                    <div id="tableScroll">
                        <table class="table table-bordered table-striped table-responsive" id="labTeamList">
                            <tr>
                                <td>Domain</td>
                                <td>Team Auth</td>
                                <td>TXT Record</td>
                                <td>Tenant ID</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_labModal", Model)
@Html.Partial("_teamModal")

@section scripts {
    <script type="text/javascript" src="~/Scripts/bootstrap-tokenfield.min.js"></script>
    <script type="text/javascript">
        var labsList = [];
        var me = "@User.Identity.Name";
    </script>
    <script type="text/javascript" src="~/Scripts/app/AdminIndex.js"></script>
}

@section styles {
    <link rel="stylesheet" href="~/Content/bootstrap-tokenfield.min.css" />
    <link rel="stylesheet" href="~/Content/app/AdminIndex.css" />
}