This lab tool allows you to register a temporary custom, public-facing domain with your new tenant.
Your team was assigned "@Model.DomainName" as your temporary domain - you'll need to access the Azure portal
at <a target="_blank" href="https://portal.azure.com/#blade/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/Domains">https://portal.azure.com/#blade/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/Domains</a>
to begin the process.
<ol>
    <li>
        That link should have brought you to this panel in the portal:<br />
        <img style="width:600px;" src="~/Content/Help/Step1.png" />
    </li>
    <li>
        Click to add a new domain:<br />
        <img style="width:500px;" src="~/Content/Help/Step2.png" />
    </li>
    <li>
        Copy the TXT record, paste it into the form here, and update.<br />
        <img style="width:600px;" src="~/Content/Help/Step3.png" />
    </li>
</ol>
