@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li id="loaderWrapper">
            <span id="expandedLoader" class="ui-loader glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        </li>
        <li>
            @Html.ActionLink(User.Identity.Name, "Claims", "Home")
        </li>
        <li>
            @Html.ActionLink("Sign out", "SignOut", "Account")
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Instructor Sign in", "SignInAdmin", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
