.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #808080;
}

span.glyphicon {
    cursor: pointer;
}

div.buttons button {
    width: 130px;
    margin-bottom: 4px;
}

div.panel-body {
    max-height: 600px;
}

#labTeamList tr:first-child td {
    font-weight: bold;
    background-color: #cacaca;
}

#labList li:not(.info) {
    cursor: pointer;
}

.btn {
    min-width: 80px;
}

div.scrollWrap {
    min-height: 300px;
    max-height: 550px;
    overflow: auto;
}

#tableScroll {
    min-height: 300px;
    max-height: 350px;
    width: 100%;
    overflow: auto;
}

div.details {
    min-height: 550px;
    border-left: 1px solid #dadada;
    padding-left: 6px;
}

div.lbl {
    font-weight: bold;
}

.tokenfield {
    min-height: 100px;
}

ul.nav-stacked li a {
    border: 1px solid #efefef;
}

.hint {
    font-size: .8em;
    font-style: italic;
    font-weight: normal;
}

#dtPicker .btn {
    min-width: unset !important;
}
div.control {
    padding:4px;
    margin-bottom:10px;
    background-color:#efefef;
    height:45px;
    clear:both;
}
div.control button {
    width:130px;
    margin-left:3px;
}
#EditTeam div.modal-body button {
    margin-bottom:8px;
    width:180px;
    margin-right:10px;
}
div.resetResults {
    border-top:1px solid #efefef;
    border-bottom:1px solid #efefef;
    padding:6px;
    min-height:40px;
}
.teamRow {
    cursor:pointer;
}
.teamRow:hover {
    background-color:#e5eafc!important;
}
div.modal-footer div.ui-loader2 {
    font-size:.8em;
    color:#8a8a8a;
    text-align:left;
    padding-left:10px;
}