<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="ida:ClientId" value="[Azure AD clientID]" />
  <add key="ida:ClientSecret" value="[Azure AD app reg client secret]" />
  <add key="ida:TenantId" value="[Azure AD tenantID (GUID) or name (like contoso.com)]" />
  <add key="AzureSubscriptionId" value="[your Azure subscription ID]" />
  <add key="DnsZoneRGName" value="[Name of RG holding your lab test domains]" />

  <add key="DocDBUri" value="[CosmosDB URI]" />
  <add key="DocDBAuthKey" value="[CosmosDB auth key]" />
  <add key="DocDBName" value="Labs" />
  <add key="DocDBCollection" value="LabItems" />
</appSettings>