<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="ida:ClientId" value="[Azure AD clientID]" />
  <add key="ida:ClientSecret" value="[Azure AD app reg client secret]" />

  <add key="ida:TenantId" value="[Azure AD tenantID (GUID) or name (like contoso.com)]" />

  <add key="StorageConnectionString" value="[Storage account connection string]"/>
  <add key="LabQueueName" value="labqueuedev"/>

  <add key="LinkAdminClientId" value="[Azure AD admin clientID]" />
  <add key="LinkAdminSecret" value="[Azure AD admin app reg client secret]" />

  <add key="DocDBUri" value="[CosmosDB URI]" />
  <add key="DocDBAuthKey" value="[CosmosDB auth key]" />
  <add key="DocDBName" value="[CosmosDB DB name]" />
  <add key="DocDBCollection" value="[CosmosDB collection name]" />
  <add key="DocDBRegions" value="[comma-delimited list of CosmosDB regions]" />
  <add key="WebJobDebugWait" value="[number of seconds to wait before continuing in the webjob main start routine - default should be 0]" />
</appSettings>
