<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ida:ClientId" value="[Azure AD clientID]" />
    <add key="ida:ClientSecret" value="[Azure AD app reg client secret]" />
    <add key="ida:TenantId" value="[Azure AD tenantID (GUID) or name (like contoso.com)]" />
    <add key="AzureSubscriptionId" value="[your Azure subscription ID]" />
    <add key="DnsZoneRGName" value="[Name of RG holding your lab test domains]" />

    <add key="LinkAdminClientId" value="[ID of multi-tenant app for resetting domain validation in each lab tenant]" />
    <add key="LinkAdminSecret" value="[secret for above]" />

    <add key="DocDBUri" value="[CosmosDB URI]" />
    <add key="DocDBAuthKey" value="[CosmosDB auth key]" />
    <add key="DocDBName" value="Labs" />
    <add key="DocDBCollection" value="LabItems" />
    <add key="WebJobDebugWait" value="0" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <conditions>
            <add xdt:Locator="Match(input)" xdt:Transform="Remove" input="{localhost}" pattern="on" ignoreCase="true"/>
          </conditions>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
