@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>

<p>Discovery Days participants lab utility</p>
<p>Full source code (including ARM deployment) is available at
    <a target="_blank" href="https://github.com/Microsoft/azuread-discovery-lab-dns-utility">https://github.com/Microsoft/azuread-discovery-lab-dns-utility</a>.
</p>