@model AzureADLabDNSControl.Models.DomAssignment
@{
    ViewBag.Title = "Manage Custom DNS";
}


<h2>TeamLogin</h2>

<div class="col-md-6">
    Your custom assigned domain is
    <div>@Model.DomainName</div>


</div>